.title-of-page {
    position: absolute;
    left: 3vw;
    top: 3vw;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    display: flex;
    align-items: center;

    color: #000000;
}

.homepage-field{
    margin-left: 3.2vw;
    margin-top: 100px;
}
